@{
    ViewBag.Title = "Services - Data Cleansing quality data supplier";
}


<div class="app-header" style="margin-top:-50px">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family:h1Family">SERV<span style="color:red; font:bolder">I</span>CES</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-road pull-left"></span> <span class="h2Purple">Address Validation</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="/AddressValidation" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-edit pull-left"></span> <span class="h2Purple">Address Cleansing</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">Information</a> | <a href="/AddressCleansing#/addressCleansing" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-send pull-left"></span> <span class="h2Purple">Email Validation</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="/EmailValidation" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-import pull-left"></span> <span class="h2Purple">Email Cleansing</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">Information</a> | <a href="#" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-random pull-left"></span> <span class="h2Purple">De-duplication</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">Information</a> | <a href="#" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-shopping-cart pull-left"></span> <span class="h2Purple">Card Payment Validation</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="/CardValidation" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-briefcase pull-left"></span> <span class="h2Purple">Iban Validation</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="/IbanValidation" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-sort-by-order pull-left"></span> <span class="h2Purple">UK Telephone Cleansing</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="#" class="otherHref">Demo</a>
        </div>
    </div>
    <div class="edit col-lg-4">
        <div class="text-center">
            <span class="glyphicon glyphicon-th pull-left"></span> <span class="h2Purple">Swift Validation</span>
        </div>
        <div class="servicesText">Check a single address. Simply type your address and system will return you a correct one if you have any mistakes. This service is also suiteble for an online shops owner. Avoid wrong typed addresses by clients and simply save time and money!</div>
        <div class="text-center">
            <a href="#" class="otherHref">API integration</a> | <a href="/BicValidation" class="otherHref">Demo</a>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <hr class="style-two" />
    <h2 class="h2Purple" style="color:#000">Other serv<span style="color:red">i</span>ces</h2>

    <div class="col-lg-12 otherServices">
        <div class="col-lg-3">
            <div>
                <span class="glyphicon glyphicon-calendar pull-left"></span><span class="otherHeading" style="margin-left:7px;">Iban Cleansing</span> <br />
                <span style="margin-left:7px"><a href="#" class="otherHref">Information</a> | <a href="#" class="otherHref"> Demo</a></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <span class="glyphicon glyphicon-phone pull-left"></span><span class="otherHeading">UK Telephone Validation</span> <br />
                <span style="margin-left:15px"> <a href="#" class="otherHref">API integration</a> | <a href="/TelephoneValidation" class="otherHref"> Demo</a></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <span class="glyphicon glyphicon-link pull-left"></span> <span class="otherHeading" style="margin-left:7px">Swift Cleansing</span> <br />
                <span style="margin-left:10px"><a href="#" class="otherHref">Information</a> | <a href="#" class="otherHref"> Demo</a></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <span class="glyphicon glyphicon-tags pull-left"></span><span class="otherHeading" style="margin-left:3px">Card Payment Cleansing</span> <br />
                    <span style="margin-left:30px"> <a href="#" class="otherHref">Information</a> | <a href="#" class="otherHref"> Demo</a></span>
</div>
        </div>
    </div>

</div>

