@{
    ViewBag.Title = "Email cleansing by Data Cleansing";
}
<div class="app-header" style="margin-top:-50px">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family:h1Family">
                TELEPHONE CLEANS<span style="color:red; font:bolder">I</span>NG
            </h1>
        </div>
    </div>
</div>

<div class="container">

    <div class="part text ">
        <p><h2>Telephone cleansing services</h2></p>
        In order to prevent fraud, spam and other dubious activities phone numbers verification plays a key role. This service not only keeps up to standard the quality of your data, but also improves communication with your customers and business partners. Our software is designed to verify, cleanse and validate your phone numbers records in a user friendly way. 
    </div>

    <br />
    <h3>Our comprehesive validation include:</h3>
    <ul>
        <li>Syntax verification</li>
        <li>Prefix verification</li>
    </ul>
    <br />

    <h3>Where to use?</h3>
    <ul>
        <li>Cleansing your data base</li>
        <li>Call centre</li>
        <li>Web page registration</li>
        <li>Marketing</li>
    </ul>
    <br />
</div>
<div class="app-header">
    <div class="text-center stripe">D<span style="color:red; font:bolder">E</span>MO</div>
</div>
<div class="container">
    <div class="row">
        <div class="example" ng-view>


        </div>
    </div>
</div>
<br />
<script type="text/javascript">
    var apiNumber = '12345678';
</script>
