@{
    ViewBag.Title = "Email cleansing by Data Cleansing";
}
<div class="app-header" style="margin-top:-50px">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family:h1Family">
                EMAIL CLEANS<span style="color:red; font:bolder">I</span>NG
            </h1>
        </div>
        <div class="row">
            <img class="img-responsive" id="address" src="~/Content/img/emailValidation.jpg" alt="email cleansing" />
        </div>
    </div>
</div>

<div class="container">

    <div class="part text ">

        <p><h2>Email cleansing is blq blq blq</h2></p>

        <p>Email cleansing is our leading real-time service which provides a full address finder facility, producing accurate addresses from a postcode or partial address. Our address validation web services allow you to quickly capture address data 24 hours a day, 365 days a year through our secure servers. Our services can be installed and integrated into your systems in minutes.</p>
    </div>

    <div class="">
        <h3>Integrations:</h3>

        <ul>
            <li>Your website as an auto fill web service</li>
            <li>API integration</li>
            <li>Shopping cart solutions API integration </li>
        </ul>
    </div>

    <p>Offered online or on premise address validation service can be installed and integrated in minutes.</p>

    <h3 style="color:#22445B; margin-top:30px;">Email cleansing example</h3>

    <div class="row">
        <div class="example" ng-view>
            
            
        </div>
    </div>
</div>


<div class="app-header">
    <div class="text-center"><h2 class="stripe">Integration</h2></div>
</div>

<div class="container integration">
    <div class="example">
        All our products can be easy integrated into any web based system such as Magento, WordPress, ZenCart and many more. Diferent layouts and CSS styling in a fraction of the time. Try our products for free - no upfront payment, no obliagation. When we say free we mean it!
    </div>

    <div class="col-lg-2">
        <img src="~/Content/img/magento.jpg" />
    </div>

    <div class="col-lg-2">
        <img src="~/Content/img/nopcommerce.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/umbraco.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/zencart.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/salesforce.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/sitecore.jpg" id="sitecore" />
    </div>
</div>

<script type="text/javascript">
    var apiNumber = '12345678';
</script>
