<div ng-controller="SingleEmailValidationController">
    <div class="form-group">
        <h2 style="color:black">Email Address Validation</h2>
    </div>

    <form class="form-horizontal container-fluid" name="emailValidation">
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label">Enter email address</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" required placeholder="Enter email address" ng-model="validate">
            </div>
            <span class="edit"><button class="btn btn-default" ng-disabled="emailValidation.$invalid" ng-click="emailCleansing(validate,emailValidation)">Find</button></span>
        </div>
    </form>

    <div ng-show="table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-lg-1">Email addres</th>
                    <th class="col-lg-1">Is valid?</th>
                    <th class="col-lg-1">Mx Record</th>
                    <th class="col-lg-1">Message</th>
                    <th class="col-lg-1">Delete</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="add in results">
                    <td>{{add.Email}}</td>
                    <td>{{add.IsValid}}</td>
                    <td>{{add.MxRecord}}</td>
                    <td>{{add.Message}}</td>
                    <td><a ng-click="deleteRecord($index,add)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>