<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=WIN-F8AGC1MMN45;Database=DataValidation;Integrated Security=true" name="DataValidation" />
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp from="admin@data-cleansing.net" />
        </mailSettings>
    </system.net>
</configuration>
