<div class="container">
    <div class="row-fluid">
        <div class="span8 main-column">
            <h1 class="head" style="padding-left:18px">
                Top Up
            </h1>
            <div class="col-lg-10">
                <div class="row-fluid hidden-phone">
                    <ul class="nav nav-tabs nav-stacked active" id="">
                        <li class="box clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £25 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/25">Select</a>
                            </div>
                        </li>
                        <li id="clear" class=" clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £50 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/50">Select</a>
                            </div>
                        </li>
                        <li class="box clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £100 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/100">Select</a>
                            </div>
                        </li>
                        <li id="clear" class=" clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £150 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/150">Select</a>
                            </div>
                        </li>
                        <li class="box clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £200 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/200">Select</a>
                            </div>
                        </li>
                        <li id="clear" class=" clearfix">
                            <div class="span2">
                                <img src="../../Content/img/bag.png" />
                            </div>
                            <div class="span8 top-indent">
                                <p>
                                    <strong>
                                        £500 top up
                                    </strong>
                                </p>
                            </div>
                            <div class="span2 top-indent hidden-phone">
                                <a class="btnTopUpSelect" href="#/buy/500">Select</a>
                            </div>
                        </li>
                    </ul>
                    <br>
                    
                </div>
            </div>
        </div>
        <div class="right-column col-lg-5">
            <h2>How it works</h2><p>Choose the amount of credit you want to add and pay for your usage on a standart pay as you use model. We will automatically convert your top up amount into credits as follow:</p>
            - £25 pounds top up into 3 000 credits; <br />
            - £50 pounds top up into 7 200 credits; <br />
            - £100 pounds top up into 15 600 credits; <br />
            - £150 pounds top up into 25 800 credits; <br />
            - £200 pounds top up into 41 400 credits; <br />
            - £500 pounds top up into 126 000 credits; <br />
            <br />
            <p>All credit purchased can be used in a combination of any product for a period of 12 montths. If a new purchase has been made within this 12 months all old credits if any will be automatically add to your new credit balance. </p>

            <p>We have a simple pricing system. You will be charget 6 credits for any one validation request or 1 credit per record for any cleansing request. For example if you submit a CSV file with 15 000 records to be cleansed tru our email cleansing system it will cost you 15 000 credits.</p>
        </div>
    </div>
</div>