<div class="app-header">
    <div class="text-center"><h2 class="stripe">Integrat<span style="color:red; font:bolder">i</span>on</h2></div>
</div>

<div class="container integration">
    <div class="col-lg-11">
        <p class="left15">All our validation products can be easy integrated into any web based system such as Magento, WordPress, ZenCart and many more. Diferent layouts and CSS styling in a fraction of the time. Try our products for free - no upfront payment, no obliagation. When we say free we mean it!</p>
    </div>

    <div class="col-lg-2">
        <img src="~/Content/img/magento.jpg" />
    </div>

    <div class="col-lg-2">
        <img src="~/Content/img/nopcommerce.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/umbraco.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/zencart.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/salesforce.jpg" />
    </div>
    <div class="col-lg-2">
        <img src="~/Content/img/sitecore.jpg" id="sitecore" />
    </div>
</div>