@{
    ViewBag.Title = "Iban validation by Data Cleansing";
}

<div class="app-header" style="margin-top:-50px">
    <div class="container">
        <div class="text-center">
            <h1 style="font-family:h1Family">
                <span style="color:red; font:bolder">I</span>BAN VALIDATION
            </h1>
        </div>
    </div>
</div>

<div class="container">

    <div class="part text ">

        <p><h2>Real-time IBAN Validation</h2></p>

        <p>IBAN Stands for International Bank Account Number, it identifies the country, financial institution and individual bank account. IBANs are used by countries in the European Union, Switzerland, European Economic Area plus certain other countries. Society for Worldwide Interbank Financial Telecommunication (SWIFT) is the official IBAN register.</p>
        <p>The IBAN system’s reliability and accuracy reduces errors, delays and facilitate faster payment processing. Therefore it's important that you check the format of each IBAN before you send a payment.</p>
        <p>Here at Data Cleansing we provide an online IBAN validation service. Our Software is designed to perform algorithmic checks in order to determine and validate whether an IBAN and a bank account data you collect or hold in real time is accurate, before payment is initiated.</p>

    </div>

    <h3>Our comprehesive validation include:</h3>

    <ul>
        <li>Country code check using ISO 3166-1 alpha-2</li>
        <li>Number of characters</li>
        <li>BBAN format</li>
        <li>IBAN check digits</li>
    </ul>

    <h3>Where to use?</h3>
    <ul>
        <li>International wire transfers</li>
        <li>Making payments over the phone</li>
    </ul>
    <div class="row">
        <br />
        <div class="text-center">
            <h2 class="blue">Example with table</h2>
        </div>
    </div>

    <div class="row">
        <div class="example">
            <div class="col-lg-4">Address finder integrated as dropdown menu. Easy and fast for integration on any platform. Още нещо по възможност.</div>

            <div class="col-lg-8">
                <form id="search" onsubmit="return false" class="navbar-form">
                    <div id="ibanNumber" style="display:block" class="form-group">
                        <input type="text" id="ibanNumb" value="" class="form-control" placeholder="Enter an IBAN number" />
                        <button id="button-findiban" class="btn btn-success" onclick="getResults(apiNumber)">Validate</button>
                    </div>
                    <div id="ibanResult" style="display:none">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h2 class="blue">Example with textarea</h2>
        </div>
    </div>

    <div class="row">
        <div class="example">
            <div class="col-lg-8">
                <form id="search" onsubmit="return false" class="navbar-form">
                    <div id="bankD" style="display:none" class="form-group">
                        <strong>Bank <br /></strong>
                        <input id="bank" type="text" value="" class="form-control" />
                    </div>
                    <div id="branchD" style="display:none" class="form-group">
                        <strong>Branch <br /></strong>
                        <input type="text" id="branch" value="" class="form-control" />
                    </div>
                    <div id="addressD" style="display:none" class="form-group">
                        <strong>Address <br /></strong>
                        <input type="text" id="address2" value="" class="form-control" />
                    </div>
                    <div id="cityD" style="display:none" class="form-group">
                        <strong>City <br /></strong>
                        <input type="text" id="city" value="" class="form-control" />
                    </div>
                    <div id="telephoneD" style="display:none" class="form-group">
                        <strong>Telephone <br /></strong>
                        <input type="text" id="telephone" value="" class="form-control" />
                    </div>
                    <div id="faxD" style="display:none" class="form-group">
                        <strong>Fax <br /></strong>
                        <input type="text" id="fax" value="" class="form-control" />
                    </div>
                    <div id="countryD" style="display:none" class="form-group">
                        <strong>Country <br /></strong>
                        <input type="text" id="country" value="" class="form-control" />
                    </div>
                    <div id="isoCodeD" style="display:none" class="form-group">
                        <strong>Iso Code <br /></strong>
                        <input type="text" id="isoCode" value="" class="form-control" />
                    </div>
                    <div id="swiftD" style="display:none" class="form-group">
                        <strong>Swift <br /></strong>
                        <input type="text" id="swift" value="" class="form-control" />
                    </div>
                    <div id="postcodeD" style="display:none" class="form-group">
                        <strong> Postcode <br /></strong>
                        <input type="text" id="postcode" value="" class="form-control" />
                    </div>
                    <div id="bankCodeD" style="display:none" class="form-group">
                        <strong>Bank Code <br /></strong>
                        <input type="text" id="bankCode" value="" class="form-control" />
                    </div>
                    <div id="branchCodeD" style="display:none" class="form-group">
                        <strong>Branch Code <br /></strong>
                        <input type="text" id="branchCode" value="" class="form-control" />
                    </div>
                    <div id="isValidD" style="display:none" class="form-group">
                        <strong>Is IBAN valid <br /></strong>
                        <input type="text" id="isValid" value="" class="form-control" />
                    </div>
                    <div id="ibanNumber" style="display:block" class="form-group">
                        <strong>IBAN Number <br /></strong>
                        <input type="text" id="ibanNumbT" value="" class="form-control" placeholder="Enter an IBAN number" />
                        <button id="button-findiban" class="btn btn-success" onclick="getResult(apiNumber)">Validate</button>
                    </div>
                    <div id="ibanResult" style="display:none">
                    </div>
                    <select id="myselecta" style="display:none;" multiple="multiple" name="myselect" onchange="selectOnChangea();" class="form-control"><option selected="selected">blank</option></select>
                </form>
            </div>
            <div class="col-lg-4">Address finder integrated as dropdown menu. Easy and fast for integration on any platform. Още нещо по възможност.</div>
        </div>
    </div>
</div>

@Html.Partial("_Integration")

<script src="~/javascript/ibanValidation.js"></script>
<script type="text/javascript">
    //customer number
    var apiNumber = '12345678';
    var tHeadBg;
    var tHeadFC = '#000';

    /*customise table view

    if some customisation is made, all variable must be initialise like "var tHeadBg;" if value is not assignt to it.

    tTheadBg - Table Head Background Color
    tHeadFC - Table Head Font Color
    tHeadFS - Table Head Font Size
    tRowBg - Table Row Backgroung Color
    tRowFC - Table Result Font Color
    tRowFS - Table Row Font Size

    */


</script>

