@{
    ViewBag.Title = "Message Sent to Data Cleansing. Leading Data validation and cleansing company";
}

<div class="content" style="min-height:500px;">
    <div class="text-center"><h2>Message sent</h2></div>
</div>
