@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h2 class="support">Data Cleansing Support Page</h2>

    <div >
        <h2 class="text-center">HOW IT WORKS</h2>

        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>

        <h2 class="text-center">GETTING STARTED</h2>

        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="odd">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
        <div class="even">
            <strong> Do I need to purchase a credit so I could test Data Cleansing service?</strong><br />
            <span>No you don't have to</span>
        </div>
    </div>
</div>

